<a href="https://colab.research.google.com/github/sathishmanthani/python-programs/blob/master/Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Fibbonacci series

def fib(n):
  #initialize
  x = [0,1]
  for i in range(n-2):
    #append the sum of last two digits as a new num
    x.append(x[-1]+x[-2])
  return x

print(fib(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#Caesar’s Cipher Encryption
#Caesar’s cipher is based on the idea of shifting characters to be encrypted by a fixed number of positions
#For example ROT1 encryption shifhts each alphabet by 1 character. i.e. a becomes b and b becomes c, etc.,

#ROT13 encryption
def encrypt(s):
  alpha = 'abcdefghijklmnopqrstuvwxyz'
  new_str = ''
  for chr in s:
    #Get the index of each character in the alphabet and add 13 to it. Since we only got 26 alphabets, recycle the index
    new_idx = (alpha.find(chr)+13)%26
    new_str = new_str+alpha[new_idx]
  return new_str

print(encrypt('googlefacebook'))

tbbtyrsnprobbx

In [ ]:
#Find s in mississipi

def findchr(s,chr):
  l1=[]
  for idx, c in enumerate(s):
    if c==chr:
      l1.append(idx)
  return l1

print(findchr('mississipi','s'))

[2, 3, 5, 6]

In [ ]:
#Prime Numbers using the Sieve of Eratosthenes

def primeNums(n):
  l1 = [True]*(n+1)
  for i in range(2,int(n**0.5)+1):
    for j in range(i*i,n+1,i):
      l1[j]=False
  return [idx for idx,val in enumerate(l1) if val and idx>2]

print(primeNums(10))

[3, 5, 7]

In [ ]:
#Total salaries of employees
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
('Bob', 99000, 'mid-level manager'),
('Frank', 87000, 'CEO')]

total = 0
cnt = 0
for row in db_rows:
  name, salary, job = row
  total += salary

print('Total salary',total)
print('Avg salary',round(total/len(db_rows),2))


#Second highest salaried employee name
print(sorted(db_rows, key=lambda x:x[1],reverse=True)[2][0])

Total salary 366000
Avg salary 122000.0
Frank

In [ ]:
# (name, $-income)
customers = [("John", 240000),
("Alice", 120000),
("Ann", 1100000),
("Zach", 44000)]

# Get high-value customers earning >$1M
for customer in customers:
  name, income = customer
  if income>1000000:
    print(name)

Ann

In [ ]:
#Easy: Find min and max num

l = [1,20,3,399,-1]

min, *l1 = l
for i in l1:
  if i<min:
    min = i
print(min)

max, *l1 = l
for i in l1:
  if i>max:
    max = i
print(max)

-1
399

In [ ]:
#Get the words with more than 3 characters in them

## Data
text = '''
Call me Ishmael. Some years ago - never mind how long precisely - having
little or no money in my purse, and nothing particular to interest me
on shore, I thought I would sail about a little and see the watery part
of the world. It is a way I have of driving off the spleen, and regulating
the circulation. - Moby Dick'''

import re 

l1 = text.split(' ')
l2 = [ word.replace('\n','').replace(' ','').replace('.','') for word in l1]
l3 = [ word for word in l2 if len(word)>3]
print(l3)

['Call', 'Ishmael', 'Some', 'years', 'never', 'mind', 'long', 'precisely', 'havinglittle', 'money', 'purse,', 'nothing', 'particular', 'interest', 'meon', 'shore,', 'thought', 'would', 'sail', 'about', 'little', 'watery', 'partof', 'world', 'have', 'driving', 'spleen,', 'regulatingthe', 'circulation', 'Moby', 'Dick']

In [ ]:
#Factorial

def factorial(n):
  if n==1:
    return 1
  else:
    return n*factorial(n-1)

print(factorial(3))

6

In [ ]:
#Employee class

class Employee():
  def __init__(self,fname, lname, age, salary, joining_date,rating):
    self.fname=fname
    self.lname=lname
    self.age=age
    self.salary=salary
    self.joining_date=joining_date
    self.rating=rating

  def raise_salary(self):
    if self.rating==1:
      self.salary=self.salary*1.1
    return self.salary
  
emp1 = Employee('sat','mant',35,100,'2023-01-01',1)
print(emp1.raise_salary())
print(emp1.salary)

110.00000000000001
110.00000000000001

In [ ]:
#Uncommon words between sentenes
s1 = 'I am a super star'
s2 = 'I am a villian'

def uncommonWords(s1,s2):
  d1 = {}
  combined = list(set(s1.split())) + list(set(s2.split()))
  for word in combined:
    if word in d1:
      d1[word] +=1
    else:
      d1[word]=1
  return ' '.join([k for k,v in d1.items() if v==1])

print(uncommonWords(s1,s2))

star super villian

In [ ]:
#Prefill Nulls with last value
l = [1,None,5,6,7,None,10]

for idx, val in enumerate(l):
  if val is None and idx>0:
    l[idx]=l[idx-1]
print(l)

[1, 1, 5, 6, 7, 7, 10]

In [ ]:
#Total transaction amount and count of transactions of accounts

accts = ['a1','a2','a3','a2','a1','a5']
vals = [100,200,300,250,150,500]

d1 = {}
d2 = {}

for idx,acct in enumerate(accts):
  if acct in d1:
    d1[acct] += vals[idx]
    d2[acct] +=1
  else:
    d1[acct] = vals[idx]
    d2[acct] =1

d3={}
for acct in d1:
  d3[acct] = list((d1[acct],d2[acct]))

print(d3)

l3 = []

for acct, item in d3.items():
  d4 = {}
  d4['account'],d4['transaction'],d4['count']=acct,item[0],item[1]
  l3.append(d4)
print(l3)

l4 =[]
for item in l3:
  lx = []
  for k,v in item.items():
    lx.append(v)
  l4.append(lx)

print(l4)

{'a1': [250, 2], 'a2': [450, 2], 'a3': [300, 1], 'a5': [500, 1]}
[{'account': 'a1', 'transaction': 250, 'count': 2}, {'account': 'a2', 'transaction': 450, 'count': 2}, {'account': 'a3', 'transaction': 300, 'count': 1}, {'account': 'a5', 'transaction': 500, 'count': 1}]
[['a1', 250, 2], ['a2', 450, 2], ['a3', 300, 1], ['a5', 500, 1]]

In [ ]:
#sort dictionary descending order

data = [{'employee':'sat','salary':100},{'employee':'mant','salary':90},{'employee':'zzzz','salary':300}]

print(sorted(data, key=lambda x:x['salary'],reverse=True))

print(list(map(lambda x:x['salary'],data)))

print(list(filter(lambda x:x['salary']>100,data)))

[{'employee': 'zzzz', 'salary': 300}, {'employee': 'sat', 'salary': 100}, {'employee': 'mant', 'salary': 90}]
[100, 90, 300]
[{'employee': 'zzzz', 'salary': 300}]

In [ ]:
people = {3: "Jim", 2: "Jack", 4: "Jane", 1: "Jill"}

print(sorted(people.items(),key=lambda x:x[0],reverse=True))

[(4, 'Jane'), (3, 'Jim'), (2, 'Jack'), (1, 'Jill')]

In [ ]:
a,*b=(1,2,3)
print(a,b)

1 [2, 3]

In [2]:
# Find if string has all unique characters

def isUnique(s):
  d1 = {}
  for i in s:
    if i in d1:
       return False
    else:
      d1[i]=1
  return True

print('abc is unique?',isUnique('abc'))

print('abca is unique?',isUnique('abca'))

abc is unique? True
abca is unique? False